body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('file:///C:/Users/ABENEZER.BELHU/OneDrive%20-%20ICUBE/Documents/School/Web%20programing/Individual%20Assignement/plain.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  clear: both;
}